# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
seg-venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*results/
raw_data/
requirements-full.txt

# Any other files you might want to ignore
*.log
*.tmp
