# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
segment-venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
saved_model/

# Any other files you might want to ignore
*.log
*.tmp
